myproject/__pycache__
.env
db.sqlite3
media


mainapp/__pycache__
mainapp/migrations/__pycache__

orderapp/__pycache__
orderapp/migrations/__pycache__

accounts/__pycache__
accounts/migrations/__pycache__

menuapp/__pycache__
menuapp/migrations/__pycache__

reservationapp/__pycache__
reservationapp/migrations/__pycache__