{% extends "layout/base.html" %} {% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/reservation.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 reservation">
                <h1>Réserver une table</h1>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}