<footer>

    <div class="container footer-grid">

        <div>

            <h4>

                Saveurs d'Afrique

            </h4>

            <p>

                11 Rue Henri René, 34000 Montpellier

            </p>

        </div>

        <div>

            <h4>

                Horaires

            </h4>

            <p>

                Lun - Dim

            </p>

        </div>

        <div>

            <h4>

                Contact

            </h4>

            <p>

                04 67 20 21 53 / 06 5 62 12 20

            </p>

        </div>

    </div>

</footer>