{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}




<nav class="navbar navbar-expand-lg fixed-top custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Saveurs d'afrique</a>
      <button style="background-color: white !important;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav d-flex gap-5 mx-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'accounts:logout' %}">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="{% url 'reservationapp:list' %}">Dashboard</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'accounts:login' %}">Connexion</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'menuapp:menu' %}">Nos Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reservationapp:create' %}">Réservation</a>
            </li>
        </ul>
      </div>
    </div>
</nav>